# SQL Skills

### Previous steps

In [1]:
# load the iris data
!pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.3-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.3

In [2]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
iris = fetch_ucirepo(id=53)

# data (as pandas dataframes)
X = iris.data.features
y = iris.data.targets

# metadata
print(iris.metadata)

# variable information
print(iris.variables)

{'uci_id': 53, 'name': 'Iris', 'repository_url': 'https://archive.ics.uci.edu/dataset/53/iris', 'data_url': 'https://archive.ics.uci.edu/static/public/53/data.csv', 'abstract': 'A small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.\n', 'area': 'Biology', 'tasks': ['Classification'], 'characteristics': ['Tabular'], 'num_instances': 150, 'num_features': 4, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1936, 'last_updated': 'Tue Sep 12 2023', 'dataset_doi': '10.24432/C56C76', 'creators': ['R. A. Fisher'], 'intro_paper': {'title': 'The Iris data set: In search of the source of virginica', 'authors': 'A. Unwin, K. Kleinman', 'published_in': 'Significance, 2021', 'year': 2021, 'url': 'https://www.semanticscholar.org/paper/4599862ea877863669a6a8e63a3c707a787d5d7e', 'doi': '1740-9713.01589'}, 'additional_info': {'summary': 'This is one of the earliest datasets used in the literature on classification methods and widely used in statistics and machine learning.  The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are not linearly separable from each other.\n\nPredicted attribute: class of iris plant.\n\nThis is an exceedingly simple domain.\n\nThis data differs from the data presented in Fishers article (identified by Steve Chadwick,  spchadwick@espeedaz.net ).  The 35th sample should be: 4.9,3.1,1.5,0.2,"Iris-setosa" where the error is in the fourth feature. The 38th sample: 4.9,3.6,1.4,0.1,"Iris-setosa" where the errors are in the second and third features.  ', 'purpose': 'N/A', 'funded_by': None, 'instances_represent': 'Each instance is a plant', 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': None, 'citation': None}}
           name     role         type demographic  \
0  sepal length  Feature   Continuous        None
1   sepal width  Feature   Continuous        None
2  petal length  Feature   Continuous        None
3   petal width  Feature   Continuous        None
4         class   Target  Categorical        None

                                         description units missing_values
0                                               None    cm             no
1                                               None    cm             no
2                                               None    cm             no
3                                               None    cm             no
4  class of iris plant: Iris Setosa, Iris Versico...  None             no

In [3]:
# import libraries
import pandas as pd
import sqlite3

In [5]:
# dataset loading
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris_df = pd.read_csv('iris.data', names=columns)

In [6]:
# Connect to SQLite database
conn = sqlite3.connect('iris.db')

In [7]:
# Load the DataFrame in the table 'iris_table'.
iris_df.to_sql('iris_table', conn, index=False, if_exists='replace')

150

**Comments:**

Pandas has been used to load the dataset from a CSV file into a DataFrame.
Then, the Pandas function 'to_sql' was used to load the DataFrame into a table called 'iris_table' in the SQLite database ('iris.db').

# Questions

In [10]:
# 1. Retrieve the top 5 rows from the dataset.
query1 = "SELECT * FROM iris_table LIMIT 5;"
result1 = conn.execute(query1).fetchall()
result1

[(5.1, 3.5, 1.4, 0.2, 'Iris-setosa'),
 (4.9, 3.0, 1.4, 0.2, 'Iris-setosa'),
 (4.7, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (4.6, 3.1, 1.5, 0.2, 'Iris-setosa'),
 (5.0, 3.6, 1.4, 0.2, 'Iris-setosa')]

In [33]:
# 2. Calculate the total number of unique values in the 'species' column.
query2 = "SELECT COUNT(DISTINCT species) AS unique_species_count FROM iris_table;"
result2 = conn.execute(query2).fetchone()
result2[0]

3

In [34]:
# 3. Find the average value of the 'sepal_length' column for each species.
query3 = "SELECT species, AVG(sepal_length) AS average_sepal_length FROM iris_table GROUP BY species;"
result3 = conn.execute(query3).fetchall()
result3

[('Iris-setosa', 5.005999999999999),
 ('Iris-versicolor', 5.936),
 ('Iris-virginica', 6.587999999999998)]

# Summary

In summary the steps to follow have been, established a connection to the SQLite database using sqlite3.connect() in Python. Then I used the conn.execute() method to execute SQL queries on the connected database. Finally note that in each question I have made use of the term "fetchall()" or "fetchone()" to retrieve the results of the executed queries.